body{margin: 0;padding: 0;} 
.Kline-div{
      position: fixed;width: 100%;
      bottom: 0rem;top: 0; 
}
.Kline-div .m-line{height: 49%;width: 100%;margin-bottom: 1%;} 
.Kline-div .K-line{height: 50%;width: 100%;}   
